.uix.form{}

.uix.form .fields > *:not(:first-child){
    margin-left: 10px;
}

.uix .field{
    position: relative;
    display: flex;
    margin-bottom: 10px;
}

.uix input+label{
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 14px;
    color: #bbb;
    transition: ease-in-out all 300ms;
}


.uix input:hover+label,
.uix input:active+label,
.uix input:focus+label{
    top: 5px;
    font-size: 10px;
}

.uix.form .input{
    flex: 1;
    height: 45px;
    padding: 0 15px;
    outline: none;
    font-size: 14px;
    border-radius: 2px;
    color: #555;
    border: 1px solid #DCDEE0;
    font-family: 'Roboto', sans-serif;
    transition: all ease-in-out 0.3s;
    letter-spacing: 0.2px;
}


.uix.form .input::placeholder{
    color: #bbb;
}

.uix.form .input:focus{
    border: 1px solid #ccc;
}