.uix.btn{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    background: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px 16px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    height: 36px;
    line-height: 36px;
    min-width: 88px;
    border-radius: 2px;
    user-select: none;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}
